/*  your css code here. If applicable */
*{
	margin:0px;
}
ul li{
	border-bottom:2px solid black;
	height:45px;
    padding-top:20px;
}

#bands{
	
	width:300px;
    background-color:#fff;
	/* border-left: 20px solid grey;
	border-right: 20px solid grey; */
	position: absolute;
	top: 10%;
	left: 25%;
	list-style-type:square;

}
