/*  your css code here. If applicable */
body{
	position:relative;
}
li{
	border-bottom:1px solid black;
}
#band{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color:white;
	padding:50px;
}
